<!-- reservationComplete.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layout/layout}">-->

<head>
    <meta charset="UTF-8">
    <title>예약 완료</title>
    <!-- CSS 파일 연결 -->

    <link rel="stylesheet" th:href="@{/css/reservationComplete.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
<header class="header">
    <div class="header-left">
        <a href="/" class="logo">
            <img th:src="@{/images/icon/logo icon.png}" alt="LounGe">
        </a>
    </div>
    <div class="header-right">
        <button class="btn review-btn"><a href="/review"><img th:src="@{/images/icon/icon_write.png}" alt="Write Icon" class="header-icon">리뷰</a></button>
        <button class="btn login-btn"><img th:src="@{/images/icon/icon_person.png}" alt="User Icon" class="header-icon"> 로그인</button>
    </div>
</header>
<hr>
<th:block layout:fragment="content">
<!-- Use the layout and insert content in the content fragment -->
<div class="reservation-complete-container">
    <div class="reservation-complete">
        <h2>예약이 완료되었습니다!</h2>
        <p>LounGe에 입장할 때 제시해 주세요.</p>
        <div class="qr-section">
            <img src="/images/reservation/complete/qr_image.png" alt="QR Code">
            <div class="reservation-info">
<!--                <div><p class="title"><strong>예약존</strong></p> <p class="detail">스타일라운지</p></div>-->
<!--                <div><p class="title"><strong>예약 일시</strong></p> <p class="detail"> 2024년 9월 14일 오후 12:00</p></div>-->
                <table>
                    <tr>
                        <td><strong>예약존</strong></td>
                        <td>스타일러존</td>
                    </tr>
                    <tr>
                        <td><strong>예약 일시</strong></td>
                        <td>2024년 9월 14일 오후 12:00</td>
                    </tr>
                </table>
            </div>
        </div>
        <a href="/" class="button">홈으로 가기</a>
    </div>
</div>
</th:block>

</body>
</html>
