<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>My Layout</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
<!-- Include the header -->
<th:block th:replace="~{/layout/fragments/header :: headerLayout}"></th:block>

<!-- Main content -->
<th:block layout:fragment="content"></th:block>
<!--<th:block th:replace="~{content :: content}"></th:block>-->


<!-- Include the footer (optional, 주석 해제 가능) -->
<!--<th:block th:replace="fragments/footer :: footerLayout"></th:block>-->
</body>
</html>
