* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 450px; /* 적절한 가로 길이 설정 */
    text-align: center;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1rem;
    outline: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #E92662; /* 포커스 시 빨간색 밑줄 */
}

.keep-logged-in {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: start;
}

.keep-logged-in input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: not-allowed;
}

button.active {
    background-color: #F2174C; /* 버튼 활성화 시 빨간색 */
    cursor: pointer;
}

.warning-text {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
    text-align: center;
}
