 /* Pretendard Variable 폰트 적용 */
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: 100 900; /* 가변 폰트이므로 다양한 굵기 지원 */
    font-style: normal;
}

/* All styling */
body {
    background-color: #fbfbfb;
    margin: 0; /* 기본적인 여백을 제거 */
    padding: 0;
}

/* Header styling */
.header {
    display: flex;
    height: 12%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo img {
    height: 47px;
    margin-top: 30px;
}

.header-right {
    display: flex;
    align-items: center;
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 17px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}



.login-btn, .review-btn {
    height: 37px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    margin-left: 13px;
    margin-top: 30px;
}

.header-icon {
    margin-right: 13px;
}


.icon-user {
    font-size: 18px;
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #e0e0e0;
}

.header-icon {
    width: 37px;
    height: 37px;
}

